{% extends "base.html" %}
{% block title %} Tạo blog {% endblock %}
{% block content %}
<form action action="{{ url_for('blog.preview') }}" method='POST'>
    <div style="display: flex; flex-direction: column;">
        <label style="margin-bottom: 6px;" for="title">Nhập tiêu đề:</label>
        <input style="margin-bottom: 26px;" class="primary-input" type="text" id="title" name="title" value="{{ post.title }}">
        <label style="margin-bottom: 6px;" for="content">Nhập nội dung:</label>
        <textarea class="post-area" id="content" name="content">{{ post.content }}</textarea>
        <label style="margin-bottom: 6px; margin-top: 26px;" for="tags">Nhập tags:</label>
        <input style="margin-bottom: 26px;" class="primary-input" type="text" id="tags" name="tags" value="{{ post.tags }}">
        <div style="display: flex;
        margin-top: 28px;
        justify-content: flex-end;">
            <button class="primary-btn" type="submit">Xem</button>
        </div>
    </div>
</form>
{% endblock %}