{% extends "base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
<div style="margin-bottom: 24px;">
    <button class="primary-btn" style="margin-right: 8px;"><a href=" {{ url_for('blog.blogView') }} ">Quay lại</a></button>
    {% if user.role == 'admin' or post.user_id == user.id %}
    <button class="primary-btn"><a href="{{ url_for('blog.delete', id=post.id ) }}">Xoá</a></button>
    {% endif %}
</div>
<span style="margin-top: 12px; margin-bottom: 20px; display: block; width: 100%; height: 4px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.2);" ></span>
<div class="view">
    <h2 style="font-size: 2.8rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 8px;"> {{ post.title }}</h2>
    <p style="text-decoration: underline;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4px;
    letter-spacing: 2px;"> {{ post.tags }}</p>
    <h5 style="font-size: 1rem;
    letter-spacing: 1px;"> Đăng bởi: {{ post.author }},  {{ post.date }} </h5>
    <span style="margin-top: 12px; margin-bottom: 20px; display: block; width: 100%; height: 4px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.2);" ></span>
    
    <div>
        {{ post.content | safe }}
    </div>

    <span style="margin-top: 12px; margin-bottom: 20px; display: block; width: 100%; height: 4px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.2);" ></span>

</div>
<div>
    <h4 style="font-size: 1.2rem;
    letter-spacing: 4px;
    margin-bottom: 12px;
    margin-top: 32px;">Bình luận:</h4>
    <form action="" method="POST">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <textarea style="width: 90%;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 6px;
            font-size: 1rem;
            color: white;
            padding: 6px 16px;
            border: none;" name="comment-content" id="" rows="2"></textarea>
            <button class="primary-btn" type="submit" name="btn" value="comment">Đăng</button>
        </div>
    </form>
    <span style="margin-top: 12px; margin-bottom: 20px; display: block; width: 100%; height: 4px; border-radius: 4px; background-color: rgba(255, 255, 255, 0.2);" ></span>
    <div style="border-radius: 8px;
    padding: 18px 24px;
    background-color: rgba(0, 0, 0, 0.2);" >
        {% for comment in comment_list %}
        <div style="margin-bottom: 4px;">
            <h5 style="font-size: 1.2rem;">{{ comment['user_name'] }}</h5>
            <p style="margin-top: 4px; font-size: 1.6rem; letter-spacing: 2px;"> {{ comment['content'] }} </p>
            <div style="display: flex; justify-content: flex-end;"><a style="letter-spacing: 4px;
                text-decoration: none;
                color: white;" href="{{ url_for('blog.deleteComment', id=comment['id'], post_id=post.id ) }}">Xoá</a></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}