{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div>
    {% for post in posts %}
    <!-- <a href="{{ url_for('blog.view', id=post.id ) }}">
        <div">
            <h2> {{ post.title }} </h2>
            <p> {{ post.tags }}</p>
            <h4>Đăng bởi: {{ post.author }}, {{ post.date }}</h4>
            <a href="{{ url_for('admin.approve', id=post['id']) }}">Duyệt</a>
            <a href="{{ url_for('admin.delete', id=post['id']) }}">Xoá</a>
        </div>
    </a> -->
    <div style="margin-top: 12px;">
        <div class="post">
            <a href="{{ url_for('blog.view', id=post.id ) }}">
                <h2> {{ post.title }} </h2>
                <p> {{ post.tags }}</p>
                <h4>Đăng bởi: {{ post.author }}, {{ post.date }}</h4>
            </a>
            {% if user.role == 'admin' or post.user_id == user.id %}
            <div>
                <button class="primary-btn">
                    <a style="margin: 0; text-decoration: none; letter-spacing: 1px; font-size: 1.2rem;" href="{{ url_for('admin.approve', id=post['id']) }}">Phê duyệt</a>
                </button>
                <button class="primary-btn">
                    <a style="margin: 0; text-decoration: none; letter-spacing: 1px; font-size: 1.2rem;" href="{{ url_for('admin.delete', id=post['id']) }}">Xoá</a>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}